.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services-div {
  border: 1px solid var(--color3);
  border-radius: 20px;
  height: 70vh;
  width: 85%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-div img {
  border: 1px solid var(--color3);
  border-radius: 20px;
  height: 80%;
  width: 92%;
}

.services2-div {
  border: 1px solid var(--color3);
  border-radius: 20px;
  height: 70vh;
  width: 85%;
  padding: 60px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services2-div img {
  border: 1px solid var(--color3);
  border-radius: 20px;
  width: 70%;
}

.text-div {
  width: 50%;
}

.btn-service-div button{
  background-color: var(--color1);
  color: var(--color6);
  border: 1px solid var(--color2);
  padding: 13px;
  border-radius: 30px;
  width: 50%;
}

.btn-service-div button:hover {
  box-shadow: 0 0 15px var(--color2), 
              0 0 30px var(--color3),
              0 0 45px var(--color1);
  transform: translateY(-2px); /* Slight lift */
}

.text-div p {
  font-size: 30px;
  background: linear-gradient(
    90deg,
    var(--color6),
    var(--color7),
    var(--color3),
    var(--color1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.btn-service-div{
  margin-top: 30px;
}

.span2-div {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400px;
}

  .span1-div {
    font-size: 40px;
  }

/* --------- */
.services-div {
  position: relative;
  overflow: hidden;
}

.services-div img {
  position: absolute;
  opacity: 0;
  animation: slide 20s infinite;
}

.services-div img:nth-child(1) {
  animation-delay: 0s;
}
.services-div img:nth-child(2) {
  animation-delay: 5s;
}
.services-div img:nth-child(3) {
  animation-delay: 10s;
}
.services-div img:nth-child(4) {
  animation-delay: 15s;
}
@keyframes slide {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .services-div {
    border: 1px solid var(--color3);
    border-radius: 20px;
    height: 30vh;
    width: 85%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .services-div img {
    border: 1px solid var(--color3);
    border-radius: 10px;
    height: 80%;
    width: 92%;
  }

  .services2-div {
    border: 1px solid var(--color3);
    border-radius: 10px;
    /* height: 30vh; */
    padding: 5px;
    width: 85%;
    height: 495px;
    margin-bottom: 40px;
    display: block;
  }

  .services2-div img {
    border: 1px solid var(--color3);
    border-radius: 20px;
    height: 40%;
    width: 75%;
    margin-left: 35px;
  }

  .text-div p {
    font-size: 15px;
  }
  .span1-div {
    font-size: 30px;
  }

  .span2-div {
    font-size: 17px;
    font-weight: 600px;
  }
  .text-div {
    width: 100%;
  }
  
.btn-service-div button{
  background-color: var(--color1);
  color: var(--color6);
  border: 1px solid var(--color2);
  padding:7px;
  border-radius: 30px;
  width: 100%;
}

}
