.footer-div{
    margin-top: 20px;
    font-size: 10px;
}

.main-footer-div{
    margin: 10px;
}

.footer-div img{

  height: 50px;
}

.sub-div{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}